@model CustomUser

<div class="row">
    <div class="col-12">
        <h5>
            <strong>Ad: </strong>@Model.FirstName
        </h5>
        <h5>
            <strong>Soyad: </strong>@Model.LastName
        </h5>
        <h5>
            <strong>Yaş: </strong>@Model.Age
        </h5>
        <h5>
            <strong>İstifadəçi adı: </strong>@Model.UserName
        </h5>
    </div>
    <hr />
    <div class="col-12 mt-5">
        <h5>İşçini siyahıdan silməyə əminsinizmi ?</h5>
        <form class="d-flex mt-3" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <a class="btn btn-success w-25" asp-controller="Employee" asp-action="List">Xeyr</a>
            <input class="btn btn-danger w-25 ml-3" type="submit" value="Bəli" />
        </form>
    </div>
</div>

